.main_page {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side-container {
    background-color: #F4F5F5;
    min-height: 100vh;
}